body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
ul li {
    display: inline-block;
}

.b-group {
    display: block;
}
.b-group-line {
    display: inline-block;
    padding: 0;
}
.b-group > * {
    color: #08c;
}
.b-group > *:hover {
    text-decoration: underline;
    cursor: pointer;
}
.b-group > .active {
    color: #444;
    text-decoration: none;
    cursor: default;
}
.b-item {
    display: block;
    margin-bottom: 10px;
}
.hidden {
    display: none;
}
.faded {
    opacity: 0.3;
}
.badge {
   position:relative;
}
.badge[data-badge]:before {
   content: attr(data-badge);
    display: inline-block;
    font-size: 0.7em;
    background: #f24;
    color: #fff;
    width: auto;
    height: 24px;
    text-align: center;
    line-height: 24px;
    min-width: 25px;
}